<h1>Add a new child to track:</h1>

<form action="/children" method="post">
    <label for="name">Name:</label>
    <input type="text" name="name" id="name">
    <br>
    <br>
    <label for="dob">Date of Birth:</label>
    <input type="datetime" name="dob" id="dob">
    
    <br>
    <br>
    <input type="submit" value="Submit">
</form>
