<h1>Here is the information for <%= @child.name %></h1>

<h3>Date of Birth:</h3>
<p><%= @child.dob %></p>
<br>
<br>
<h3>Next Appointment:</h3>
<p><%= @child.appointments.last %></p>
<br>
<br>
<h3>Latest Milestone:</h3>
<p><%= @child.milestones.last %></p>

<p><a href="">Make a new Appointment</a></p>
<p><a href="">Mark a new Milestone!</a></p>