<h1>Welcome Back!</h1>
<h3>Please Log in:</h3>
<br>
<div>
    <form action="/login" method="post">
        <label for="email">Email: </label>
        <input type="email" name="email" id="email">
        <br>
        <br>
        <label for="password">Password:</label>
        <input type="password" name="password" id="password">
        <br>
        <br>
        <input type="submit" value="Submit">
    </form>
</div>
